header h1 {
    padding: 0px;
}

.positioning {
  width: 100%;
  max-width: 1400px;
  min-width: 450px;
  padding: 2em 0px 4em;
  margin: 0px auto;
  -webkit-transition: padding .3s, width .3s;
  transition: padding .3s, width .3s;
}

@media (max-width: 1000px) {
    .positioning {
        padding: 0em 0em 2em;
    }
}