.home {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.full {
  position: absolute;
  top: 9.14em;
  bottom: 2.2em;
  left: 0em;
  right: 0em;
  width: 100%;
  padding: 0px;
  max-width: none;
}

.full section {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 0px;
  overflow: hidden;
}

.inslide img {
    width: 100%;
}