html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #3b2913;
  color: #3b2913;
}

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 450px;
}

header {
  padding: 10px;
  background-color: #b1e0cd;
  box-shadow: 0px 2px 5px #000000;
}

header h1 {
  text-align: center;
  margin: 0px auto;
  padding: .25em 0px;
  color: #3b2913;
  font-size: 4em;
}

header nav {
  text-align: center;
}

header nav ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header nav ul a {
  color: #3b2913;
  text-decoration: none;
  padding: 10px 10px;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}
header nav ul a:hover {
  background-color: #99d0bf;
  color: #09035f;
}
header nav ul a:active {
  
}
header nav ul a:visited {
  color: #3b2913;
}
header nav ul a:visited:hover {
  color: #09035f;
}

header nav ul a li {
  display: inline-block;
}

.positioning {
  width: 80%;
  max-width: 1400px;
  min-width: 450px;
  padding: 4em 0px 6em;
  margin: 0px auto;
}

section {
  background-color: #897966;
  padding: 20px;
  box-shadow: 0px 0px 10px #000000;
}

article {
  text-align: center;
}

article a {
  text-decoration: none;
}

article h1 {
  font-size: 3em;
  text-align: left;
  text-decoration: none;
  background-color: #272822;
  background-image: url('../img/names.png');
  margin: 10px 0px;
  padding: 1.5em 0px 1.5em 1.5em;
  background-size: 1360px;
  background-position: right top;
  box-shadow: inset 0px 0px 10px #000000;
}

article a h1 {
  color: #efb3db;
  text-decoration: none;
}

article p {
  text-align: left;
}

.square {
  height: 14em;
  width: 14em;
  background-color: #9e9da6;
  display: inline-block;
  margin: 10px;
}

.square .album {
  position: relative;
  height: 100%;
  width: 100%;
}

.square .album img {
  height: 100%;
  width: 100%;
}

.square .album .overlay {
  background-color: #202020;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  text-align: left;
  color: #e5e5e5;
  padding: .5em;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.square .album .overlay:hover {
  opacity: .7;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background-color: #b1e0cd;
  color: #443523;
  padding: .5em 0px;
  box-shadow: 0px -2px 5px #000000;
}

@media (max-width: 1000px) {
  html,
  body {
    background-color: #897966;
  }
  .positioning {
    padding: 0em 0em 2em;
    width: 100%;
  }
  section {
    background-color: transparent;
    box-shadow: 0px 0px 0px;
  }
}